[submodule "ads"]
	path = ads
	url = https://github.com/srj31/ads.git
[submodule "chatgpt2-rs"]
	path = chatgpt2-rs
	url = https://github.com/srj31/chatgpt2-rs.git
[submodule "ocaml_workshop"]
	path = ocaml_workshop
	url = https://github.com/srj31/ocaml_workshop.git
[submodule "zig_funtimes"]
	path = zig_funtimes
	url = https://github.com/srj31/zig_funtimes
